h1 {
    display: none;
}

strong {
    font-size: 1.5em;
}

.link-container {
    width: 100%;
    max-width: 580px;
    font-family: Outfit, sans-serif;
    font-size: 1.1em;
    margin: 0 auto;
}

.btn a {
    color: #FFFFFE;
}

.btn a:hover {
    text-decoration: none;
}

.btn-1 {
    display: block;
    background-color: #222;
    text-align: center;
    width: 100%;
    padding: 1em;
    margin: 10px auto;
    border-radius: 5px;
}

.btn-1:hover {
    background-color: #DC5F00;
}