@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

body {
    background-color: #eeeeed;
    font-family: "Noto Sans", sans-serif;
    font-weight: 400;
    font-size: 17px;
    margin: 0 10px;
    max-width: 100%;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #DC5F00;
}

p {
    margin-top: 0.2em;
    margin-bottom: 1em;
}

h1, h2, h3, h4, h5 {
    font-family: Outfit, sans-serif;
    margin-bottom: 0.2em;
}

h2 {
    color: #CC5F00;
}

time {
    font-family: monospace;
    font-weight: 400;
    font-size: 1em;
}

.waktu {
    margin-bottom: 1.5em;
}

img {
    max-width: 100%;
}

@media screen and (max-width: 480px) {
    body {
        font-size: 14px;
        }
    }

.sh-list-blog ul {
    padding-inline-start: 0;
    list-style-type: none;
    font-size: 1em;
}

/*Header */
header {
    display: flex;
    font-family: Outfit, sans-serif;
    font-size: 1.2em;
    color: #DC5F00;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    width: 100%;
    max-width: 1400px;
    margin: 20px auto;
    padding: 0;
    box-sizing: border-box;
}

header a {
    color: #DC5F00;
}

.site-nav_ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

/*Main*/
main {
    background-color: none;
    width: 100%;
    max-width: 1400px;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box;
}

.posting {
    font-size: 1.1em;
    margin: 0 auto;
    max-width: 750px;
    min-height: 70vh;
    color: #373A40;
}

.posting ul {
    list-style-type: square;
    margin-top: 0;
}

.posting li {
    margin-bottom: 0.3em;
    list-style-position: inside;
}

.sh-youtube-new, .sh-youtube {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    max-width: 100%;
    margin: 0;
    height: 0;
}

.sh-youtube-new, .sh-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    display: block;
    font-size: 0.8em;
    background-color: none;
    text-align: center;
    color: #222;
    max-width: 1400px;
    margin: 0 auto;
    box-sizing: border-box;
}